# Парсер спецификации регистров
systemrdl-compiler>=1.24.0

# Тесты и покрытие
pytest>=8.0.0
pytest-cov>=5.0.0

# Анализ и визуализация FSM / графов
networkx>=3.2.0

# Доступ к регистрам
riscv-reg-block

# Дашборд и графики
streamlit>=1.32.0
plotly>=5.18.0

# Код‑стайл
pylint>=3.0.0
